/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.03e,;;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

#andrew{
    width: 50%;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 1);
}

.navbar-brand {
    color: #fff;
    font-size: 2.8em;
}

/* Navbar Toggler Icon Styles */
.navbar-light .navbar-toggler-icon {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}

/* Navigation Styles */
.nav-link{
    color:#fff;
}
.nav-link:hover {
    color: #666;
}

.navbar .navbar-toggler{
    box-shadow: 0 2px 4px rgb(0, 0, 0);  
}

.navbar .navbar-toggler:hover{
    transform: scale(1.1);
}

/* Section Heading Styles */
.section-heading {
    text-align: center;
    font-size: 2em;
    color: #333;
}

/* About and Skills Section Styles */
.about, .skills {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 10px 0;
}

/* Projects Section Styles */
.project {
    padding: 20px;
    margin-bottom: 60px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.project-title {
    font-size: 1.8em;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.project-description {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4;
}

/* Carousel Styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

/* Carousel Control Styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #333; 
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #333;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #666; 
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.socials {
    margin-top: 10px;
}

.socials i {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

.non-link-text {
    color: #fff;
    font-weight: bold;
}


#cursor {
    display: inline-block;
    width: 8px; 
    height: 20px; 
    background-color: #333; 
    animation: blink 0.7s infinite; 
    margin-left: 5px; 
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 2em;
    }
    #andrew{
        width: 30%;
        border: solid white;
        border-radius: 90% 90% 90% 90%;
    }
}