*{
    color: white;
    background-color: black;
}
.navbar-brand{
    color:white
}

.navbar-brand:hover{
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

.nav-link{
    color:white;
}
.navbar-toggler-icon{
    background-color: white;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #555; 
}

.carousel-indicators .active {
    background-color: #555; 

}

.carousel-indicators button:hover {
    background-color: #777; 
}

.carousel-caption { 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

#carousel{
    margin: auto;
    width: 100%;
}

#andrew{
    width: 75vmin;
}

#carousel h3 {
    margin: 0;
}

.about,
.skills {
    width: 80%; 
    margin: 0 auto; 
    text-align: left; 
    font-size: 16px;
}



.about{
    margin-bottom: 1vmin;
}
