body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 20px 0;
}

.navbar-brand {
    color: #fff;
    font-size: 2.8em;
    /* Add more custom styles if needed */
}

/* Navigation Styles */
.nav-link:hover {
    color: #666;
    /* Add hover effect */
}

/* About Section Styles */
.about {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Skills Section Styles */
.skills {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.skills li {
    margin: 10px 0;
}

/* Projects Section Styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.socials {
    margin-top: 10px;
}

.socials i {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

  .non-link-text {
    color: #fff; 
    text-decoration: none;
    font-weight: bold; /
  }