*{
    color: white;
    background-color: black;
}

.navbar-brand{
    color:white;
    font-size: 2.5em;
}

.navbar-brand:hover{
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

.nav-link{
    color:white;
    font-size: 1.5em;
    
}

.nav-link:hover{
    color:#666;
}

.navbar-toggler-icon{
    background-color: white;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #555; 
}

.carousel-indicators .active {
    background-color: #555; 

}

.carousel-indicators button:hover {
    background-color: #777; 
}

.carousel-caption { 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178); 
}

#carousel {
    margin: 20px auto; 
    max-width: 80%; 
}

.carousel-inner img {
    max-width: 100%; 
    height: auto; 
}

#andrew{
    width: 25vmin;
}

#carousel h3 {
    margin: 0;
}

#name{
    text-align: center;
    margin-top: 20px; 
}

#name h1 {
    margin: 0;
}

#name h3{
    margin-top: 5px;  
}

.about{
    margin-bottom: 1vmin;
}




.about, .skills {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px; 
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
}